<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.bdss.web.entity.AIFlowEntity">
  <!-- 根据条件查询组件的流向 -->
	<select id="getAIFlow" parameterType="com.hand.bdss.web.entity.AIFlowEntity" resultType="com.hand.bdss.web.intelligence.component.vo.AIFlowVO">
		SELECT com_code comCode,GROUP_CONCAT(a.type) flowDesc FROM tb_ai_com_inout a
		WHERE a.pipeline LIKE 'in%'
		<if test='comCode!=null and comCode!=""'>and a.com_code = #{comCode,jdbcType=VARCHAR}</if>
		union ALL
		SELECT com_code comCode,GROUP_CONCAT(a.type) flowDesc FROM tb_ai_com_inout a
		WHERE a.pipeline LIKE 'out%' 
		<if test='comCode!=null and comCode!=""'>and a.com_code = #{comCode,jdbcType=VARCHAR}</if>
	</select>	
</mapper>